/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  color: #272727;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}