<div class="container">
  <div id="register">
      <form  action="" method="post">

          <fieldset>
            
                <label>Name</label>
                <input placeholder="Enter Name" type="text" tabindex="1" required autofocus>
            
           
          </fieldset>
          <fieldset>
            <label>Email</label>
            <input placeholder="Enter Email" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <label>Phone Number</label>
            <input placeholder="Enter Phone Number" type="tel" tabindex="3" required>
          </fieldset>
          <fieldset>
            <label>Passord</label>
            <input placeholder="Enter Password" type="password" tabindex="4" required>
          </fieldset>
      
      
          <fieldset>
            <label>Confirm Passord</label>
            <input placeholder="Confirm Password" type="password" tabindex="5" required>
          </fieldset>
          <fieldset class="pt-10">
            <button name="submit" type="submit">Save</button>
          </fieldset>
        </form>
  </div>
  
</div>